.khan__buy-link {
  height: fit-content;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.khan__buy-link:hover {
  opacity: 50%;
    }